.Cree{
   background-image: url(images/pexels-morningtrain-18105.jpg);
   height: 100vh;
   background-size: cover;
}

.House{
    display: flex;
    justify-content: space-evenly;
}

.Ref h1{
    color: turquoise;
}

.Mint h1{
    color: turquoise;
}

.Trees h1{
    color: turquoise;
}

.Fer{
    text-align: center;
    margin-top: 250px;
}

.gta{
  display: flex;
  justify-content: space-evenly;
}

.hour{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.gta img{
    width: 600px;
}

.hour img{
    width: 600px;
}

.one{
    background-color: black;
    width: 65%;
    display: flex;
    margin-top: 50px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 30px;
}

.one .two img{
   width: 400px;
}

.th{
  color: white;
}

.thr{
    color: white;
}

.thre{
    color: white;
}

.three{
    color: white;
}

.three{
    margin-top: 30px;
}

.four{
    margin-top: 30px;
}

.rage{
    margin-top: 100px;
    text-align: center;
}

.idk{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.clover{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.greek{
    text-align: center;
    margin-top: 50px;
}

.pap{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 100px;
    padding-top: 50px;
}

.eba{
    display: flex;
}

.zero img{
    width: 500px;
}

.gari{
    width: 600px;
}

.star{
    width: 450px;
}

.idkptwo{
    width: 450px;
}

.mamushi{
    width: 450px;
}

.dev{
    width: 450px;
}

.index{
    width: 450px;
}

.idkpthree{
    width: 450px;
}

.roaridk{
    width: 80%;
    margin: 0 auto;
}

.lore{
    display: flex;
    margin-top: 60px;
    gap: 100px;
}

.classes{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.fn img{
    width: 300px;
    border-radius: 50%;
}

.ez img{
    width: 300px;
    border-radius: 50%;
}

.yk img{
    width: 300px;
    border-radius: 50%;
}

.form{
    display: flex;
    gap: 100px;
    margin-right: 100px;
}

.form img{
    width: 90%;
}

.frost h5{
    color: cyan;
    padding-top: 20px;
}

.reverse h5{
    color: cyan;
    padding-top: 20px;
}

.surfinbird h5{
    color: cyan;
    padding-top: 20px;
}

.bleach{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.white h1{
    padding-top: 20px;
    text-align: center;
}

.black{
    display: flex;
    gap: 30px;
}

.blue{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.resh{
    padding: 100px;
}

.red{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 223, 223);
    padding: 100px;
}

.blue button{
    padding: 10px;
    background-color: cyan;
    border-radius: 30px;
    width: 150px;
    margin-top: 20px;
}

.reload{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px;
    background-color:  black;
    color: white;
    padding: 50px;
}

.hello{
    width: 400px;
}

.bye{
    width: 200px;
}

.past{
    width: 200px;
}

.future{
    width: 400px;
}

.future input{
    border-radius: 30px;
}